<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
                   {% with messages = get_flashed_messages() %}
               {% if messages %} 
                   <ul id="messages" class="list-unstyled">
                   {% for message in messages %}
                       <li class="alert alert-success">{{ message }}</li>
                   {% endfor %}
                   </ul>
               {% endif %}
           {% endwith %}
    <title>Jogoteca</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename ='bootstrap.css') }}">
  </head>
  <body>
    <div class="container">
        <div class="page-header">
            <h1>{{titulo}}</h1>
        </div>
        {% block conteudo %}  {% endblock %}
    </div>
  </body>
</html>